body{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}
.bloklong{
    height: 100%;
}
.imgJoueurs{
    height: 200px;
    width: 150px;
    object-fit: cover;
    box-shadow: 5px 7px 6px 2px rgb(78, 9, 9);
    animation: pulse .5s infinite;

}
.cardimg{
    height: 800px;
    width: 800px;
    object-fit: cover;
}
.cardcarousel{
    height: 600px;
    width: 600px;
}

.cardcarousel2{
    height: 50px;
    width: 600px;
}

.cardcarousel3{
    height: 550px;
    width: 600px;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 5px 7px 6px 2px rgb(78, 9, 9);
        box-shadow: 5px 7px 6px 2px rgb(78, 9, 9);
        }
    50% {
        -moz-box-shadow: 5px 7px 6px 2px black;
        box-shadow: 5px 7px 6px 2px black;
        }
    100% {
        -moz-box-shadow: 5px 7px 6px 2px rgb(78, 9, 9);
        box-shadow: 5px 7px 6px 2px rgb(78, 9, 9);
        }

}

footer{
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0px;
    left: 0%;
    position: static;
    margin-top: 5em;
    height: 5%;
}

a {
    text-decoration: none;
}
.text-purple{
    color: #9147ff;
}
.bg-purple{
    background-color: #9147ff;
}
.bg-bella{
    background-color: rgba(141, 129, 129, 0.664);
}
.tpulse {
animation: tPULSE 1s infinite; 
}
@keyframes tPULSE{
    1%{color:green;}	
    25%{color: red}
    50%{color: blue}
    100%{color: green;}
}

html {
    scroll-behavior: smooth;
}

.back-to-top-link {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #ffffff;
    top: 8px;
    left: 97%;
    position: sticky;
}

.transp{
    background-color: rgba(1, 1, 1, 0);
}

.text-footer{
    text-decoration: underline;
    color: white;
}
.text-footer2{
    text-decoration: none;
    color: white;
}

.fontBiz{
    font-family: 'DotGothic16', sans-serif;
}
